
.menu-cor {
	background: RGB(0, 219, 143);
}



#texto a:hover {
	color: white
}


/*----------SKILLS--------*/

.colorI{
	color: grey;
}

 i#html:hover {
	color: RGB(255, 70, 0);
	-webkit-animation-name: fa-beat;
    animation-name: fa-beat;
    -webkit-animation-delay: var(--fa-animation-delay,0s);
    animation-delay: var(--fa-animation-delay,0s);
    -webkit-animation-direction: var(--fa-animation-direction,normal);
    animation-direction: var(--fa-animation-direction,normal);
    -webkit-animation-duration: var(--fa-animation-duration,1s);
    animation-duration: var(--fa-animation-duration,1s);
    -webkit-animation-iteration-count: var(--fa-animation-iteration-count,infinite);
    animation-iteration-count: var(--fa-animation-iteration-count,infinite);
    -webkit-animation-timing-function: var(--fa-animation-timing,ease-in-out);
    animation-timing-function: var(--fa-animation-timing,ease-in-out);
}


 i#css:hover {
	color: RGB(0, 133, 255);
	-webkit-animation-name: fa-beat;
    animation-name: fa-beat;
    -webkit-animation-delay: var(--fa-animation-delay,0s);
    animation-delay: var(--fa-animation-delay,0s);
    -webkit-animation-direction: var(--fa-animation-direction,normal);
    animation-direction: var(--fa-animation-direction,normal);
    -webkit-animation-duration: var(--fa-animation-duration,1s);
    animation-duration: var(--fa-animation-duration,1s);
    -webkit-animation-iteration-count: var(--fa-animation-iteration-count,infinite);
    animation-iteration-count: var(--fa-animation-iteration-count,infinite);
    -webkit-animation-timing-function: var(--fa-animation-timing,ease-in-out);
    animation-timing-function: var(--fa-animation-timing,ease-in-out);
}

 i#js:hover {
	color: RGB(255, 255, 0);
	-webkit-animation-name: fa-beat;
    animation-name: fa-beat;
    -webkit-animation-delay: var(--fa-animation-delay,0s);
    animation-delay: var(--fa-animation-delay,0s);
    -webkit-animation-direction: var(--fa-animation-direction,normal);
    animation-direction: var(--fa-animation-direction,normal);
    -webkit-animation-duration: var(--fa-animation-duration,1s);
    animation-duration: var(--fa-animation-duration,1s);
    -webkit-animation-iteration-count: var(--fa-animation-iteration-count,infinite);
    animation-iteration-count: var(--fa-animation-iteration-count,infinite);
    -webkit-animation-timing-function: var(--fa-animation-timing,ease-in-out);
    animation-timing-function: var(--fa-animation-timing,ease-in-out);
}

 i#bs:hover {
	color: RGB(153, 0, 255);
	-webkit-animation-name: fa-beat;
    animation-name: fa-beat;
    -webkit-animation-delay: var(--fa-animation-delay,0s);
    animation-delay: var(--fa-animation-delay,0s);
    -webkit-animation-direction: var(--fa-animation-direction,normal);
    animation-direction: var(--fa-animation-direction,normal);
    -webkit-animation-duration: var(--fa-animation-duration,1s);
    animation-duration: var(--fa-animation-duration,1s);
    -webkit-animation-iteration-count: var(--fa-animation-iteration-count,infinite);
    animation-iteration-count: var(--fa-animation-iteration-count,infinite);
    -webkit-animation-timing-function: var(--fa-animation-timing,ease-in-out);
    animation-timing-function: var(--fa-animation-timing,ease-in-out);
}

/*--------Formulário input --------*/
.resultado1 {
				color: red;
			}







