.medidasRelogio{
    margin-top: 300px;
    width: 600px;
    height: 300px;
}
.fonte{
    font-size: 100px; 
    color: #ff0000;
    opacity: 0.8;
}

.pontos{
    font-size: 100px;
    color: red;
    opacity: 0.8;
}

.diasMesesAnos{
    color: white;
    opacity: 0.8;
    font-size: 20px;
}


@font-face{
    font-family: Digital;

    /*Caso a fonte esteja na mesma pasta*/
    src: url(../digital-7.mono.ttf);
}

body{
    font-family: Digital;
}

.fundoTrocaDia{
    background-image: url(../imagens/manha.gif); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: black;
    height: 730px;
}

.fundoTrocaTarde{
    background-image: url(../imagens/tarde.gif); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: white;
    height: 730px;

}

.fundoTrocaNoite{
    background-image: url(../imagens/noite.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: black;
    height: 730px;
    
    

}

/*.bg-primary {
    background-color: black!important;
}*/

